.tagsViewModal .modalHead {
  display: grid;
}
.tagsGallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-30px);
}
.tagsGallery--title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-bottom: 50px;
}
.tagsGallery--content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}
@media (max-width: 400px) {
  .tagsGallery--content {
    grid-template-columns: 1fr;
  }
}
.tagsGallery--content .modalButton {
  width: 180px;
  display: flex;
  justify-content: center;
}
.tagsGallery--content .modalButton .buttonCollapsedContent {
  display: none;
}
/* .tagsFooter {
  position: unset;
  left: unset;
  bottom: unset;
  transform: unset;
}
.tagsFooter .searchBar svg {
  fill: transparent;
  stroke: var(--iconColor);
}
.tagsFooter .colorsRow {
  padding-top: 10px;
} */
