.tagsViewModal .modalHead {
  display: grid;
}
.tagsViewModal .modalContent {
  padding: 25px;
  padding-bottom: 0 !important;
}
.tagsGallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tagsGallery--title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--iconColor);
  display: grid;
  place-items: center;
  margin: 15px;
}
.hideButton {
  visibility: hidden;
}

.tagsGallery--content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
  place-items: center;
}
@media (max-width: 400px) {
  .tagsGallery--content {
    grid-template-columns: 1fr;
  }
}
.tagsGallery--content .modalButton {
  width: 180px;
  min-height: 50px;
  display: flex;
  justify-content: center;

  hyphens: auto;
  word-break: break-word;
  text-align: center;
}
.tagsGallery--content .modalButton .buttonCollapsedContent {
  display: none;
}

.tagsViewModal .clickedModalButton {
  /* border: 2px solid var(--baseYellow-2); */
  background-color: var(-primary-2);
  color: var(--text-3);
}
