.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-1);
  overflow: hidden auto;
  padding-top: 75px;
}
.container .test .searchBar {
  display: none;
}
@media (max-width: 750px) {
  .container .test .searchBar {
    display: grid;
  }
}
/* TODO on mobile while scrolling at bottom shows white space, ask on some discord */
/* ===== Scrollbar CSS ===== */
/* Firefox */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollColor) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollColor);
  border-radius: 0px;
  border: 0px none #ffffff;
}
