.avatar {
  display: flex;
  align-items: center;
}
.saveIcon {
  height: 37px;
  stroke: var(--primary-2);
}
.avatar .picture {
  width: 42px;
  height: 42px;
  box-shadow: 0 0 0 3px var(--background-1);
  border-radius: 50%;
  overflow: hidden;
}
