:root {
  --noteColor-1: #faa88d;
  --noteColor-2: #fac97d;
  --noteColor-3: #e2e797;
  --noteColor-4: #7dd7e2;
  --noteColor-5: #c990d4;
  --noteColor-6: #9790d4;

  --text-3: #252525;
  --text-4: #3b3b3b;
  --text-5: #c7c7c7;
  --text-6: #f0f1f5;
  --text-7: #818181;

  --baseYellow-1: #ffb733;
  --baseYellow-2: #eec06b;
  --placeholderColor: #3b3b3b;
}
.lightMode {
  --background-1: #ececec;
  --background-2: #dbdbdb;

  --mainIcon: #1c2740;
  --iconColor: #121929;
  --textColor-1: #121929;

  --primary-1: #224690;
  --primary-2: #2d53a4;

  --logoBackground: #121929;
  --logoText-1: var(--background-1);
  --logoText-2: #121929;

  --hoverEffect: rgba(0, 0, 0, 0.1);
  --scrollColor: rgba(0, 0, 0, 0.3);
}
.darkMode {
  --background-1: #252525;
  --background-2: #3b3b3b;

  --mainIcon: #f0f1f5;
  --iconColor: #c7c7c7;
  --textColor-1: #252525;

  --primary-1: #ffb733;
  --primary-2: #eec06b;

  --logoBackground: #eec06b;
  --logoText-1: var(--background-1);
  --logoText-2: #f0f1f5;

  --hoverEffect: rgba(255, 255, 255, 0.1);
  --scrollColor: rgba(255, 255, 255, 0.3);
}
.appearItem {
  opacity: 1;
}
.disappearItem {
  opacity: 0;
  visibility: hidden;
}

.textButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  color: var(--primary-2);
  font: inherit;
  margin-right: 10px;
  padding: 4px 0;
}
.textButton:hover {
  background-color: var(--hoverEffect);
}
[data-tooltip__top],
[data-tooltip__bottom] {
  position: relative;
}

[data-tooltip__top]::after,
[data-tooltip__bottom]::after {
  pointer-events: none;
  position: absolute;
  padding: 3px 6px;
  border-radius: 4px;

  background-color: var(--placeholderColor);
  color: white;
  box-shadow: 0 0 0 2px var(--logoText-1);

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  opacity: 0;
  visibility: collapse;
  transition: all 0.1s linear;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

[data-tooltip__bottom]::after {
  content: attr(data-tooltip__bottom);

  top: calc(100% + 10px);
}
[data-tooltip__top]::after {
  content: attr(data-tooltip__top);

  bottom: calc(100% + 10px);
}

[data-tooltip__top]:hover::after,
[data-tooltip__bottom]:hover::after {
  opacity: 1;
  visibility: visible;
}
