:root {
  --noteColor-1: #7dd7e2;
  --noteColor-2: #c990d4;
  --noteColor-3: #e2e797;
  --noteColor-4: #faa88d;
  --noteColor-5: #fac97d;

  --text-3: #252525;
  --text-4: #3b3b3b;
  --text-5: #c7c7c7;
  --text-6: #f0f1f5;
}
.lightMode {
  --background-1: #ececec;
  --background-2: #dbdbdb;

  --mainIcon: #1c2740;
  --iconColor: #121929;
  --textColor-1: #121929;

  --primary-1: #224690;
  --primary-2: #2d53a4;

  --logoBackground: #121929;
  --logoText-1: var(--background-1);
  --logoText-2: #121929;

  --hoverEffect: rgba(0, 0, 0, 0.1);
  --scrollColor: rgba(0, 0, 0, 0.3);
}
.darkMode {
  --background-1: #252525;
  --background-2: #3b3b3b;

  --mainIcon: #f0f1f5;
  --iconColor: #c7c7c7;
  --textColor-1: #252525;

  --primary-1: #ffb733;
  --primary-2: #eec06b;

  --logoBackground: #eec06b;
  --logoText-1: var(--background-1);
  --logoText-2: #f0f1f5;

  --hoverEffect: rgba(255, 255, 255, 0.1);
  --scrollColor: rgba(255, 255, 255, 0.3);
}
.appearItem {
  opacity: 1;
}
.disappearItem {
  opacity: 0;
  visibility: hidden;
}
