.modal {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;

  display: grid;
  place-items: center;
}

.modal-main {
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--background-1);
  color: var(--mainIcon);
  border-radius: 24px;

  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden auto;
}

.modalHead {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.hideHeader .modalHead {
  display: none;
}
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
}

@media (max-width: 900px) {
  .fullViewModal .modal-main {
    width: 100vw;
  }
  .hideHeader .modalHead {
    display: grid;
  }
}
@media (max-height: 750px) {
  .fullViewModal .modal-main {
    height: 100vh;
  }
  .hideHeader .modalHead {
    display: grid;
  }
}
