.header {
  background-color: var(--background-2);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.searchAndTheme {
  max-width: 700px;
  min-width: 450px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
}
@media (max-width: 1000px) {
  .searchAndTheme {
  }
}
