.header {
  background-color: var(--background-2);
  height: 75px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
  z-index: 5;

  position: fixed;
  top: 0;
}
.searchAndTheme {
  width: 700px;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
}
.header .searchAndTheme {
  display: none;
}
@media (max-width: 1070px) {
  .searchAndTheme {
    width: 450px;
  }
}
@media (max-width: 800px) {
  .searchAndTheme {
    width: 400px;
  }
}
@media (max-width: 750px) {
  .header {
    background-color: var(--background-1);
  }
}
@media (min-width: 750px) {
  .header .searchAndTheme {
    /* width: 0; */
    display: grid;
  }
}
