.themeToggler {
  width: 70px;
  height: 37px;
  border-radius: 20px;
  background-color: var(--background-1);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.themeIcon {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: var(--mainIcon);
  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: 0%;
  transition: transform 0.2s linear;
  position: absolute;
  padding: 2px;
}
.themeToggler svg {
  width: 20px;
  height: 20px;
  fill: var(--logoText-1);
  stroke: var(--logoText-1);
}
@media (max-width: 750px) {
  .themeToggler {
    background-color: var(--background-2);
  }
}
@media (max-width: 380px) {
  .themeToggler {
    width: calc(70px * 0.8);
    height: calc(37px * 0.8);
  }
  .themeIcon {
    height: calc(28px * 0.8);
    width: calc(28px * 0.8);
  }
  .themeToggler svg {
    width: calc(20px * 0.8);
    height: calc(20px * 0.8);
  }
}
